.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff4136;
}
.about-statement {
  width: 50%;
  line-height: 1.5rem;
  font-weight: bold;
}
.about-title {
  text-decoration: underline;
}
