.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff4136;
}
.about-statement {
  width: 50%;
  line-height: 1.25rem;
  font-weight: bold;
  text-align: left;
}
.about-title {
  text-decoration: underline;
}

@media only screen and (max-width: 400px) {
  .about-statement {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}
