.heading {
    font-size: 0.90rem;
    width: 50%;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
}
.heading-bold {
    color: black;
    white-space: pre;
}
.header {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(20,20,20,20%);
}

@media screen and (max-width:600px) {
    .header {
        flex-direction: column;
    }
    .heading {
        justify-content: center;
        width: 100%;
    }
}