.container {
    display: flex;
    width: 100%;
    margin: auto;
    font-family: Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, Verdana, sans-serif;
    color: rgb(48, 41, 41);
    border-bottom: 1px solid rgba(20,20,20,20%);
}