.nav {
    font-size: 0.70rem;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.list-item {
    text-decoration: none;
    color: rgb(48, 41, 41);
}

.list-item:hover {
    border-bottom: 2px solid black; 
}

.active-list-item {
    border-bottom: 2px solid black;
}

@media screen and (max-width: 600px) {
    .nav {
        width: 100%;
        padding: 0;
    }
}