.center-title {
  text-align: center;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}
.portfolio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.portfolio-buttons {
  display: flex;
  justify-content: space-evenly;
}
.portfolio-area {
  background-color: #1b1b1b;
  color: white;
  padding: 2rem;
}
