.center-title {
  text-align: center;
}
.portfolio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.portfolio-buttons {
  display: flex;
  justify-content: space-evenly;
}
