.center-title {
  text-align: center;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}
.portfolio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.portfolio-buttons {
  display: flex;
  justify-content: space-evenly;
}
.portfolio-area {
  background-color: #1b1b1b;
  color: white;
  padding: 2rem;
}
.portfolio-button {
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  margin: 0 5px 0 5px;
  background-color: #242424;
  border-radius: 3px;
  color: hsl(0, 0%, 100%);
  transition: background-color 0.3s;
}
.portfolio-button:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.4);
}
